.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}
@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

/*
 *	My Css:
 */

.toggleOn {
	background-color: yellow;
	font-weight: bold;
	font-size: 1.1em;
}

/* Kanban: */

.kanban {
	text-align: left;
	white-space: nowrap;
}
.kanban h1{
	font-weight: 200;
	color: #3b414c;
	font-size: 20px;
}
.kanban ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.kanban .list {
	position: relative;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	height: 100%;
	width: 30%;
	padding: 0 20px;
	overflow: auto;
}
.kanban .list:not(:last-child):after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 99%;
	background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}
.kanban .card {
	position: relative;
	z-index: 1;
	background: #fff;
	width: 95%;
	padding: 10px 10px 10px 15px;
	margin: 0 0 10px 0;
	overflow: auto;
	border: 1px solid #e5e5df;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.kanban .card__title {
	font-weight: bold;
	border-bottom: solid 5px transparent;
}
.kanban .card__title:before {
	display: inline-block;
	width: 1em;
	content: '►';
}
.kanban .card__title--is-open:before {
 	content: '▼';
}
.kanban .checklist__task:first-child {
	margin-top: 10px;
	padding-top: 10px;
	border-top: dashed 1px #ddd;
}

.kanban .checklist__task--remove:after{
	display: inline-block;
	color: #d66;
	content: "+";
}

.kanban .checklist--add-task {
	border: 1px dashed #bbb;
	width: 95%;
	padding: 10px;
	margin-top: 5px;
	border-radius: 3px;
}

/**
 *  Shopping list
 */

.example-enter {
	opacity: 0;
	transform: translateX(-250px);
}
.example-enter.example-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: 3.3s;
}